<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
<security:http  auto-config="true" use-expressions="true">

<security:intercept-url pattern="/login" access="permitAll" />
<security:intercept-url pattern="/home"	access="permitAll"  />
<security:intercept-url pattern="/about"	access="permitAll"  />
<security:intercept-url pattern="/book"	access="permitAll" />
<security:intercept-url pattern="/book/calendar" access="permitAll"  />
<security:intercept-url pattern="/roles/**"	access="hasRole('ROLE_ADMIN')" />
<security:intercept-url pattern="/schedule"	access="hasRole('ROLE_ADMIN')"  />
<security:intercept-url pattern="/users/**"	access="hasRole('ROLE_ADMIN')" />
<security:intercept-url pattern="/adduser/**" access="hasRole('ROLE_ADMIN')" />
<security:intercept-url pattern="/updateuser/**" access="hasRole('ROLE_ADMIN')" />
<security:intercept-url pattern="/addschedule/**" access="hasRole('ROLE_ADMIN')" />
<security:intercept-url pattern="/accountavailable/**" access="hasRole('ROLE_USER')" />

<security:form-login login-page="/login"
	default-target-url="/home" always-use-default-target="true" authentication-failure-url="/loginfailed" />

<security:logout logout-success-url="/logout" />
</security:http>
<!--pwd:1234   java -jar jacksum.jar -a sha -q "txt:123456"-->
<security:authentication-manager>
<security:authentication-provider>
<security:password-encoder hash="sha"/>
<security:user-service>
<security:user name="gerh" password="7c4a8d09ca3762af61e59520943dc26494f8941b" authorities="ROLE_ADMIN"/>
<security:user name="alex" password="7c4a8d09ca3762af61e59520943dc26494f8941b" authorities="ROLE_USER"/>
</security:user-service>
</security:authentication-provider>
</security:authentication-manager>
</beans>
