.day {
    width: 60px;
    float: left;
    text-align: center;
    font-weight: lighter;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px 3px 3px 3px;
    margin: 6px;
    padding: 8px 0px 0px;
}

#calendar {
	border-width: thin;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px 3px 3px 3px;
}

.carousel-inner {
    overflow: hidden;    
    height: 170px;
    width: 100%;
    position: relative;
    left: 75px;
}


.radio {
    padding: 0.3em 0px !important;
    text-align: center;
    font-weight: bold;
    position: relative;
}
.radio.active, .radio:active, .radio:hover, .radio:focus, .checkbox.active, .checkbox:active, .checkbox:hover, .checkbox:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 255, 0.6) inset;
    background: none repeat scroll 0% 0% rgb(90, 127, 255);
    border: 1px solid rgba(0, 0, 255, 0.6);
    color: rgb(255, 255, 255);
}
.day label {
    display: block;
    float: none !important;
}
.radio {
    border-radius: 3px 3px 3px 3px;
    border: 1px solid rgb(221, 221, 221);
    cursor: pointer;
    font-size: 0.8em;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 1em 1.4em;
    margin: 0.5em 0.8em 0.5em 0px;
    left: 5px;
}
input[type="radio"] {
display:none;
}

.error {
	color : #B94A48;
}



#fb_signin, #go_signin{
	margin-right:15px;
}

#fb_signin button{
	background-position: 0 0;
}

#go_signin button{
	background-position: 0 -90px;
}

#account_register button.btn-success{
	width: 120px;
}

.social{
	display: inline-block;
}
#socialSignInMessage{
	padding-bottom:10px;
}

.row_selected
        {
            background-color:  #0ae;
        }